@attribute [Route(Constants.PathToFileView + "{id:guid}")]
@using Imgrio.Blazor.Backend.Interfaces;
@using Imgrio.Blazor.Backend.Models;
@using Imgrio.Blazor.Backend.Services;
@using Imgrio.Blazor.Backend.Utils;
@using Google.Cloud.Firestore.V1;
@using Google.Cloud.Firestore;

@if (UserFile == null)
{
    <p class="text-muted">Ich habe überall gesucht, aber die angeforderte Datei ist mir dabei nicht zu begegnet...</p>
}
else
{
    @if (UserFile.Extension == "png" || UserFile.Extension == "jpg" || UserFile.Extension == "jpeg")
    {
        <HeadContent>
            <meta property="og:image" content="https://imgrio.azurewebsites.net/@Path.Combine("data", $"{UserFile.Id}.{UserFile.Extension}")">
            <meta name="twitter:image:src" content="https://imgrio.azurewebsites.net/@Path.Combine("data", $"{UserFile.Id}.{UserFile.Extension}")">
            <meta name="twitter:card" content="summary_large_image">
        </HeadContent>
    }
    else
    {
        <HeadContent>
            <meta name="title" content="@UserFile.Extension" />
            <meta property="og:title" content="@UserFile.Extension" />
            <meta name="twitter:title" content="@UserFile.Extension" />

            <meta name="description" content="@fancyUploadedAt">
            <meta property="og:description" content="@fancyUploadedAt" />
            <meta name="twitter:description" content="@fancyUploadedAt" />
        </HeadContent>
    }

    <PageTitle>Datei ansehen</PageTitle>

    <div class="text-center my-5">
        @if (UserFile.Extension == "png" || UserFile.Extension == "jpg" || UserFile.Extension == "jpeg")
        {
            <img class="mw-100 max-vh-85 rounded shadow-lg mb-4" src="data:image/@UserFile.Extension;base64, @UserFile.Base64" style="object-fit: cover;" />
        }
        else {
            <h1>@UserFile.Extension.ToUpper()</h1>
        }
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <h1>@UserFile.Title</h1>
            <p class="fs-5 text-muted">@fancyUploadedAt</p>
        </div>
        <div class="col-sm-12 col-lg-6">
            <a class="btn btn-dark" href="data:@MimeTypes.MimeTypeMap.GetMimeType(Path.Combine($"{UserFile.Id}.{UserFile.Extension}"));base64, @UserFile.Base64" download>Herunterladen</a>
        </div>
    </div>
}

@code {
    [Inject]
    public UserFileService UserFileService { get; set; } = null!;

    [Parameter]
    public Guid Id { get; set; }

    private string fancyFileType = null!;
    private string fancyFileSize = null!;
    private string fancyUploadedAt = null!;

    private UserFile UserFile { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        UserFile = (await UserFileService.GetUserFilesAsync()).First(userFile => userFile.Id == Id);

        fancyFileType = $"Dateityp: {UserFile.Extension.ToUpper()}";
        fancyFileSize = $"Dateigröße: {UserFile.ToFormattedSizeString()}";
        fancyUploadedAt = $"Hochgeladen am {UserFile.UploadedAt.ToString("dd.MM.yyyy")}";

    }
}