@using Fordele.Blazor.Shared.Layouts;

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <PageTitle>Keine Berechtigung</PageTitle>
                <p role="alert">Du bist nicht dazu berechtigt, diese Seite anzusehen.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <NotFound/>
        </LayoutView>
    </NotFound>
</Router>
