@page "/u/files"
@using Firebase.Auth;
@using Imgrio.Blazor.Backend.Models;
@using Imgrio.Blazor.Backend.Services;
@using System.Security.Claims;
@using Imgrio.Blazor.Backend.Utils;
@attribute [Authorize]

<h1>Meine Dateien</h1>

@if (GroupedUserFiles.Count() <= 0)
{
    <p class="text-muted">Du scheinst noch keine Dateien hochgeladen zu haben. Wenn du das ändern möchtest, kannst du das <a href="/f/upload">hier</a> oder via <a href="/sharex">ShareX</a> tun!</p>
}
else
{
    @foreach (var group in GroupedUserFiles)
    {
        <p class="h5 text-muted mb-3">@group.Key.ToString("dd.MM.yyyy")</p>

        <div class="row g-2 mb-5">
            @foreach (var userFile in group.ToList())
            {
                <div class="col-sm-12 col-lg-6">
                    <div class="card overflow-hidden" style="flex-direction: row;">
                        <div class="ratio ratio-1x1 bg-light" style="width: 100px; height: 100px;">
                            @if (userFile.Extension == "png" || userFile.Extension == "jpg" || userFile.Extension == "jpeg")
                            {
                                <img src="data:image/@userFile.Extension;base64, @userFile.Base64" style="object-fit: cover;" />
                            }
                            else
                            {
                                <p class="h4 d-flex align-items-center justify-content-center text-muted">@userFile.Extension.ToUpper()</p>
                            }
                        </div>
                        <div class="card-body">
                            <p class="h5 card-title">
                                @userFile.Title
                                <small class="text-muted ml-2">@userFile.UploadedAt.ToRelativeDateString()</small>
                            </p>
                            <div>
                                <a class="card-link" href="/f/@userFile.Id">Ansehen</a>
                                <button class="btn btn-link card-link" @onclick="() => UserFileService.DeleteUserFileAsync(userFile.Id)">Löschen</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

@code {
    [Inject]
    public AuthenticationStateProvider AuthenticationStateProvider { get; set; } = null!;

    [Inject]
    public UserFileService UserFileService { get; set; } = null!;

    private ClaimsPrincipal AuthUser { get; set; } = null!;

    private IEnumerable<IGrouping<DateTime, UserFile>> GroupedUserFiles { get; set; } = Enumerable.Empty<IGrouping<DateTime, UserFile>>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var AuthState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        AuthUser = AuthState.User;

        GroupedUserFiles = (await UserFileService.GetUserFilesAsync())
                                .Where(userFile => userFile.UploadedBy == AuthUser.FindFirstValue(ClaimTypes.NameIdentifier))
                                .OrderByDescending(userFile => userFile.UploadedAt)
                                .GroupBy(userFile => userFile.UploadedAt.Date);
    }
}