<footer class="bg-neutral-100 bg-opacity-95 backdrop-blur border-t-2 border-neutral-200 dark:bg-neutral-800 dark:border-neutral-700">
    <div class="md:flex md:items-center md:justify-between max-w-5xl mx-auto py-6 px-6 md:px-12 xl:px-6">
        <span class="sm:text-center">
            @Constants.AppName © @DateTime.Now.Year <a href="@Constants.PathToCopyright" target="_blank" class="hover:underline">baeni</a>. Alle Rechte vorbehalten.
        </span>
        <ul class="flex flex-wrap items-center mt-3 sm:mt-0">
            <li>
                <a href="@Constants.PathToIndex" class="mr-4 hover:underline md:mr-6 ">Home</a>
            </li>
            <li>
                <a href="@Constants.PathToSharex" class="mr-4 hover:underline md:mr-6">ShareX</a>
            </li>
            <li>
                <a href="@Constants.PathToDashboardAccount" class="mr-4 hover:underline md:mr-6 ">Account</a>
            </li>
            <li>
                <a href="@Constants.PathToImprint" class="hover:underline md:mr-6">Impressum</a>
            </li>
        </ul>
    </div>
</footer>