@using Microsoft.AspNetCore.Components.Authorization

<nav class="sticky top-0 z-50 bg-neutral-50 bg-opacity-95 backdrop-blur dark:bg-neutral-900">
    <div class="relative flex h-16 items-center justify-between max-w-5xl mx-auto px-6 md:px-12 xl:px-6">
        <!-- Mobile menu button -->
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <button @onclick="ToggleNavMenu" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!-- Icon when menu is closed. -->
                <div class="@NavButtonCssClass block h-6 w-6">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <!-- Icon when menu is open. -->
                <div class="@NavBarCssClass h-6 w-6">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </button>
        </div>

        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex flex-shrink-0 items-center">
                <h1 class="font-mono font-bold text-lg text-blue-500 tracking-wider">@Constants.AppName</h1>
            </div>
            <div class="hidden sm:ml-9 sm:block">
                <div class="flex space-x-4">
                    <a href="@Constants.PathToIndex" class="text-gray-400 hover:text-black dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-800 rounded-md px-3 py-2 text-sm font-medium">
                        Home
                    </a>
                    <a href="@Constants.PathToSharex" class="text-gray-400 hover:text-black dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-800 rounded-md px-3 py-2 text-sm font-medium">
                        ShareX
                    </a>
                </div>
            </div>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <div class="relative ml-3">
                <div>
                    <AuthorizeView>
                        <NotAuthorized>
                            <a href="@Constants.PathToAuthLogin" class="text-neutral-900 bg-neutral-100 hover:bg-neutral-200 dark:text-gray-100 dark:bg-neutral-800 dark:hover:bg-neutral-700 rounded-md px-3 py-2 text-sm font-medium">
                                Login
                            </a>
                        </NotAuthorized>
                        <Authorized>
                            <a href="@Constants.PathToAuthLogout" class="text-neutral-900 bg-neutral-100 hover:bg-neutral-200 dark:text-gray-100 dark:bg-neutral-800 dark:hover:bg-neutral-700 inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-medium">
                                Logout
                            </a>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu -->
    <div class="sm:hidden @NavBarCssClass" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
            <a href="@Constants.PathToIndex" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                Home
            </a>
            <a href="@Constants.PathToSharex" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                ShareX
            </a>

            <AuthorizeView>
                <Authorized>
                    <a href="@Constants.PathToDashboardFiles" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                        Meine Dateien
                    </a>
                    <a href="@Constants.PathToDashboardUpload" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                        Datei Hochladen
                    </a>
                    <a href="@Constants.PathToDashboardAccount" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                        Mein Account
                    </a>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

<!-- Desktop menu -->
<AuthorizeView>
    <Authorized>
        <nav class="sticky top-16 z-50 hidden sm:block bg-neutral-100 bg-opacity-95 backdrop-blur border-y-2 border-neutral-200 dark:bg-neutral-800 dark:border-neutral-700">
            <div class="max-w-5xl px-4 py-3 mx-auto md:px-6">
                <div class="flex items-center">
                    <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                        <li>
                            <a href="@Constants.PathToDashboardFiles" class="font-medium text-neutral-500 hover:text-blue-500">
                                Meine Dateien
                            </a>
                        </li>
                        <li>
                            <a href="@Constants.PathToDashboardUpload" class="font-medium text-neutral-500 hover:text-blue-500">
                                Datei Hochladen
                            </a>
                        </li>
                        <li>
                            <a href="@Constants.PathToDashboardAccount" class="font-medium text-neutral-500 hover:text-blue-500">
                                Mein Account
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </Authorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? "hidden" : "block";
    private string? NavButtonCssClass => collapseNavMenu ? "block" : "hidden";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}